body{
    background:azure;
    font-size: 18px;
}

.heading{
    width: 50%;
    margin: 30px auto;
    text-align: center;
    color: rgb(0, 0, 0);
    background: rgb(140, 150, 150);
    border: 2px solid rgb(5, 32, 32);
    border-radius: 25% 10%;
}

form p{
    color: red;
    margin: 0px;
}

form {
    width: 50%;
    margin: 30px auto;
    border-radius: 5px;
    padding: 10px;
    background: rgb(140, 150, 150);
    border: 1px solid rgb(5, 32, 32);
}

.task_input{
    width: 73%;
    height: 15px;
    padding: 10px;
    border: 2px solid rgb(5, 32, 32);
}

.add_btn{
    height: 39px;
    background: azure;
    color: black;
    border: 2px solid rgb(5, 32, 32);
    border-radius: 5px;
    padding: 5px 20px;
}

table{
    width: 50%;
    margin: 30px auto;
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid black;
}

th{
    font-size: 19px;
    color: rgb(0, 0, 0);
}

th, td{
    border: none;
    height: 30px;
    padding: 2px;
}

tr:hover{
    background: rgb(140, 150, 150);
}

.task{
    text-align: left;
}

.delete{
    text-align: center;
}

.delete a{
    color: coral;
    background: crimson;
    padding: 1px 6px;
    border-radius: 3px;
    text-decoration: none;
}