:root {
  --Beige: #DDC3A5;
  --DarkBrown: #201E20;
  --Tan: #E0A96D;
}

body {
    background-color: var(--Beige);
    font-family: 'Courier New', monospace;
    padding: 0;
    margin: 0;
  }

  section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
  }

  .logos {
    display: flex;

  }
  img {
    max-width: 100px;
    max-height: 100px;
  }

  .logo:nth-child(2){
      transition-delay: 200ms;
  }

  .logo:nth-child(3){
    transition-delay: 400ms;
  }

  .logo:nth-child(4){
    transition-delay: 600ms;
  }

  .logo:nth-child(5){
    transition-delay: 800ms;
  }


  .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
  }

  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  
  .glow {
    font-size: 60px;
    color: #fff;
    text-align: center;
    animation: glow 500ms ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #16a425, 0 0 5px #e60073, 0 0 5px #25c578, 0 0 5px #e60073, 0 0 5px #1cc739;
    }
    
    to {
      text-shadow: 0 0 7px #fff, 0 0 7px #ff4da6, 0 0 7px #2c8b32, 0 0 7px #ff4da6, 0 0 7px #279655, 0 0 7px #ff4da6, 0 0 7px #2d49a5;
    }
  }