.center{
    margin: auto;
    width: 25%;
    border: 3px solid #2c2d2b;;
    padding: 10px;
}

h1{
    font-weight: bold;
    color: rgb(47, 50, 51);
    font-size: 40px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: azure;
}